<!-- <input type="file" (change)="uploadImage($event)"> -->


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Freebie: 4 Bootstrap Gallery Templates</title>
    <title>CodePen - Skewed Menu</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.css">
    <link rel="stylesheet" href="./lista-imagen.component.css">


</head>

<body>

    <div class="container gallery-container">

        <h1>MAGE</h1>

        <p class="page-description text-center">Galería de imagenes</p>


        <nav class="skew-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <input type="file" (change)="uploadImage($event)" class=" btn btn-light"
                    style="display: block;
                    padding: 1em 2em;
                    color: black;
                    text-decoration: none;
                    transform: skew(25deg);
                    margin-right: 30px;">
                </li>

                <li>
                    <a type="file" (click)="uploadImage($event)" class=" btn btn-light"
                    style="display: block;
                    padding: 1em 2em;
                    color: black;
                    text-decoration: none;
                    transform: skew(25deg);
                    margin-right: 30px;"></a>
                </li>
               

                <li><a href="/users">Usuarios</a></li>
                <li><a href="/login">Login</a></li>
                <li><a type="submit" (click)="logout()">Salir</a></li>
            </ul>
        </nav>



        <!-- Imagenes -->

        <a  *ngFor="let image of images" class="lightbox" [href]="image">
            <img  [src]="image"  alt="" 
            style="
            width: 300px; 
            height: 300px; 
            margin-top: 30px; 
            margin-left: 60px;">
        </a>
       
    
                
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>

</html>